section.tarjetas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 14px;
  margin-top: 4rem;
  margin-bottom: 7rem;

  div.error{
    flex-basis: calc(25% - 20px);
    max-width: 275px;
    background-color: #d6d2d2;
    border: none;
    border-radius: 10px;
    padding: 20px;
    height: 170px;

    img{
      margin-top: 0;
      width: 60px;
      height: 60px;
      margin-left: 100px;
    }

    h2{
      font-weight: bolder;
      margin-right: 10px;
    }

    p{
      font-weight: bold;
      font-size: 17px;
      margin: 0;
      color: #3a3c3d;
    }
  }

  div.ppal{
    flex-basis: calc(25% - 20px);
    max-width: 275px;
    background-color: #aadae2;
    border: 2px solid #2196F3;
    border-radius: 10px;
    padding: 20px;
    height: 120px;

    div{
      display: flex;
      flex-direction: column;
      align-items:initial;
      margin-bottom: 3px;

      div{
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        margin-bottom:8px;
        margin-top: 12px;

        strong{

          font-weight: bolder;
          margin-right: 10px;
        }

        h1{
          font-weight: bold;
          font-size: 17px;
          margin: 0;
          color: #3a3c3d;
        }
      }
    }
  }
}
